
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

h1, h2 {
  margin-bottom: 0.5rem;
}

section {
  margin: 1rem;
}

/* 
#movie-input-section {
 
} */

#movie-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#domestic-box-office-chart,
#genre-gross-chart,
#critic-audience-chart {
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;

}

